$btn-numbers:#7A3909;
$color-light-grey:#E7E7E7;
$color-primary: #FB6800;
$font-color-primary: #868686;
$text-lg: 1.8em;
$text-sm: 1.4em;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1024px
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
};