@import '_variables';

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, 'Open Sans', sans-serif, Arial;
  height: auto;
  width: 100%;
  margin: 0;
  font-size: 62.5%;
  font-weight: 200;
  color: $font-color-primary;
  @include respond-to('m'){
    height: 100%;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.6em;
  @include respond-to('l'){
    font-size: 2em;
  }
}

h2 + p {
  font-size: 1.6em;
  color: #535353;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.4em;
}

#item-btn {
  display: inline-flex;
  align-items: center;
  line-height: 3.5rem;

  @include respond-to('m'){
    line-height: 2.2rem;
  }

  .icon-arrow {
    display: inline-block;
    background-image: url('../images/arrow-circle.svg');
    background-size: cover;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: $margin-side-mob;
    cursor: pointer;
    @include respond-to('m'){
      margin-left: $side-space;
    }
  }

  h2 {
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;
  }
}

#item-header {
  h1 {
    margin-top: 1.2rem;
    margin-left: 1rem;
  }
}

#item-order {
  position: relative;
  @include respond-to('m'){
    margin-right: 3rem;
  }
}

#item-info,
#item-contact {
  position: relative;

  @include respond-to('m'){
    margin-left: $side-space;
    margin-right: 0.5rem;
  }
  
  p {
    margin: 1rem $margin-side-mob 0 $margin-side-mob;
    line-height: 1.6em;
    @include respond-to('s'){
      margin-left: $margin-side-mob;
    }
    @include respond-to('m'){
      margin: 0.5rem $margin-side-tab 0 $margin-side-tab;
    }
    @include respond-to('l'){
      margin: 0.5rem $margin-side-screen 0 $margin-side-screen;
    }
  }

  h2 {
    color: #000000;
    margin: 1rem $margin-side-mob;
    @include respond-to('m'){
      margin-left: $margin-side-tab;
    }
    @include respond-to('l'){
      margin: $margin-side-tab $margin-side-screen;
    }
  }
}

#item-info {
  .address {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: 20;

    h4 {
      margin-left: $margin-side-mob;
      margin-bottom: 0.4rem;
      @include respond-to('m'){
        margin-left: $margin-side-tab;
      }
      @include respond-to('l'){
        margin-left: $margin-side-screen;
        margin-bottom: 0.1rem;
        font-size: 1.6em;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0.3rem;
      font-size: $text-sm;
      @include respond-to('l'){
        margin-bottom: 0.1rem;
      }
    }
  }

  .form-personalnumber {
    height: 3.5rem;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    position: absolute;
    max-width: 28rem;
    
    @include respond-to('s'){
      margin-left: $margin-side-tab;
    }

    @include respond-to('m'){
      margin-left: 0rem;
    }

    p {
      margin-top: 0;
    }

    &.disable {
      background-color: #e6e6e6;
    }

    &.active {
      z-index: 150;
      background: #ffffff;
      filter: drop-shadow(6px 6px 10px rgba(0,0,0,0.6));
      
      .icon-pen {
        display: none;
      }
      
      @include respond-to('m'){
        width: 104%;
        left: -2%;
      }
    }
  }

  .personalnumber {
    display: flex;
    flex-direction: row;
    width: 80%;
    font-weight: 600;
    font-size: 1.4rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    z-index: 50;

    @include respond-to('l'){
      width: 75%;
      font-size: 1.2rem;
    }
  }

  #first-digits {
    width: 42%;
    letter-spacing: 0.52rem;
    margin-top: 0.7rem;
    margin-left: -0.5rem;

    @include respond-to('s'){
      width: 32%;
    }
    @include respond-to('m'){
      letter-spacing: 0.29rem;
      margin-left: -0.2rem;
      margin-top: 0.8rem;
    }
    @include respond-to('l'){
      margin-left: -0.6rem;
      letter-spacing: 0.36rem;
    }
    @include respond-to('xl'){
      font-size: 1.4rem;
      margin-left: -1.2rem;
      letter-spacing: 0.38rem;
    }
  }

  #last-digits {
    width: 32%;
    letter-spacing: 0.5rem;
    margin-top: 0.7rem;
    position: absolute;
    left: 11.9rem;

    @include respond-to('m'){
      letter-spacing: 0.29rem;
      left: 8.3rem;
      margin-top: 0.8rem;
    }

    @include respond-to('l'){
      letter-spacing: 0.36rem;
      left: 8.4rem;
    }

    @include respond-to('xl'){
      letter-spacing: 0.38rem;
      font-size: 1.4rem;
      left: 10.4rem;
    }
  }

  .pnumber-digits-svg {
    display: inline-block;
    background-image: url('../images/firstDigits.svg');
    background-repeat: no-repeat;
    width: 80%;
    height: 10%;
    margin-left: $margin-side-mob;

    @include respond-to('m'){
      margin-left: $margin-side-tab;
      zoom: 80%;
    }
    @include respond-to('xl'){
      margin-left: $margin-side-tab;
      height: 12%;
      zoom: 90%;
    }
  }
}

#item-contact {
  position: relative;
  .form-mobile {
    position: absolute;
    bottom: 0rem;
    height: 3.5rem;
    width: 100%;
    max-width: 28rem;
    padding: 1rem 0;
    margin-bottom: $margin-side-mob;
    p {
      margin-top: 0;
    }

    @include respond-to('s'){
      margin-left: $margin-side-tab;
    }

    @include respond-to('m'){
      margin-left: 0rem;
      margin-bottom: 0rem;
    }

    &.disable {
      background-color: #e6e6e6;
    }
    &.active {
      z-index: 50;
      background-color: #ffffff;
      filter: drop-shadow(6px 6px 10px rgba(0,0,0,0.6));

      .icon-pen {
        display: none;
      }

      @include respond-to('m'){
        width: 104%;
        left: -2%;
      }
    }
  }

  .telephone {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.51rem;
    margin-left: 2rem;
    margin-top: 0.4rem;
    color: #000000;

    @include respond-to('m'){
      letter-spacing: 0.37rem;
      margin-top: 0.8rem;
      margin-left: 1.4rem;
    }

    @include respond-to('l'){
      letter-spacing: 0.48rem;
      font-size: 1.2rem;
      margin-top: 0.8rem;
    }
  
    @include respond-to('xl'){
      font-size: 1.4rem;
      margin-left: 2rem;
    }
  }

  .tel-digits-svg {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    background-image: url('../images/telDigits.svg');
    background-repeat: no-repeat;
    width: 85%;
    height: 10%;
    z-index: 100;
    margin-left: $margin-side-mob;
    padding-bottom: 0.5rem;
    zoom: 105%;

    @include respond-to('m'){
      margin-left: $margin-side-tab;
      zoom: 96%
    }

    @include respond-to('xl'){
      margin-left: $margin-side-screen;
      zoom: 100%;
      bottom: 0.3rem;
    }
  }
}

.telephone,
.icon-pen {
  display: block;
}

.icon-pen {
  background-image: url('../images/pencil.png');
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  @include respond-to('m'){
    height: 1.2rem;
    width: 1.2rem;
    right: 1.5rem;
    bottom: 3.6rem;
  }
  @include respond-to('xl'){
    height: 1.5rem;
    width: 1.5rem;
    right: 2rem;
    bottom: 1.4rem;
  }
}



#footer-back,
#footer-forward {
  display: inline-flex;
  align-items: center;
}

#footer-back {
  h2 {
    padding-left: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }
}

#footer-forward {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 3.5rem;

  @include respond-to('m'){
    grid-template-columns: 70% 30%;
  }

  h2 {
    padding-left: $margin-side-mob;
  }
}

.item-quantity > span {
  line-height: 4rem;
}

.item-quantity > span:first-of-type {
  margin-left: 0.5rem;
}

.item-quantity > span:nth-of-type(2n) {
  margin-right: 0.5rem;
}

.icon-minus,
.icon-plus {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.icon-minus {
  background-image: url('../images/minus.svg');
}

.icon-plus {
  background-image: url('../images/plus.svg');
}

.icon-truck,
.icon-store,
.icon-back,
.item1,
.item2,
.icon-pen,
.icon-plus,
.icon-minus {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-truck,
.icon-store {
  height: 2rem;
  width: 2rem;
}

.icon-truck {
  background-image: url('../images/truck.png');
}

.icon-store {
  background-image: url('../images/store.png');
}

.icon-back {
  background-image: url('../images/back.png');
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  margin-left: 2rem;
  cursor: pointer;

  @include respond-to('m'){
    margin-left: 3rem;
  }
}

.icon-arrow-rotate {
  display: inline-block;
  background-image: url('../images/arrow-circle.svg');
  background-size: cover;
  transform: rotate(180deg);
  width: 2.2rem;
  height: 2.2rem;
}

.item1,
.item2 {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  margin: 1.5rem 1rem;
  @include respond-to('s'){
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }
}

.item1 {
  background-image: url('../images/item1.jpg');
}

.item2 {
  background-image: url('../images/item2.jpg');
}

.order-items,
.delivery-types {
  padding: 0 1rem;
  span {
    font-size: $text-lg;
  }
}

.order-items > li {
  display: grid;
  grid-template-columns: 25% 40% 20% 15%;
  grid-template-rows: 2.5rem 3rem;
  border-bottom: 3px dotted $color-light-grey;
  line-height: 4rem;

  @include respond-to('s'){
    grid-template-columns: 15% 45% 20% 12% 10%;
    grid-template-rows: 4rem;
  }

  @include respond-to('m'){
    grid-template-columns: 10% 50% 20% 12% 10%;
    grid-template-rows: 3rem;
  }

  @include respond-to('l'){
    grid-template-columns: 15% 35% 30% 10% 10%;
  }

  figure {
    grid-area: 1 / 1 / span 2 / span 1;
    @include respond-to('m'){
      grid-row: 1;
    }

    + div {
      grid-area: 1 / 2 / span 2 / span 1;
    }
  }

  .item-quantity {
    grid-area: 1 / 3 / span 1 / span 2;
    margin-left: auto;
    margin-right: auto;
    @include respond-to('s'){
      grid-column: 3 / 4;
      grid-row: 1;
    }
  }

  .item-price {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    @include respond-to('s'){
      grid-column: 4 / 5;
      grid-row: 1;
    }
  }

    div {
    display: inline-block;
    line-height: 1.2rem;
    }

    h5 {
      margin-bottom: 0;
      margin-top: 0.8rem;
    }

    p {
      margin-top: 0;
      font-size: $text-sm;
    }
}

.delivery-types {
  position: absolute;
  bottom: 2rem;
  width: 95%;
}

.delivery-types > li {
  display: grid;
  grid-template-rows: 3.5rem;
  
  span {
    line-height: 3.5rem;
  }
}

.delivery-types > li:first-child {
  border-top: 3px dotted $color-light-grey;
}

.delivery-types > li:not(:last-child){
  grid-template-columns: 15% 68% 7% 10%;
  border-bottom: 3px dotted $color-light-grey;

  @include respond-to('s'){
    grid-template-columns: 15% auto 12% 10%;
  }
  @include respond-to('m'){
    grid-template-columns: 10% auto 12% 10%;
    grid-template-rows: 3rem;
  }

  @include respond-to('l'){
    grid-template-columns: 15% auto 10% 10%;
  }
}

.delivery-types > li:last-child {
  grid-template-columns: 20% 55% 15% 10%;
}

.total-price {
  div:first-child {
    grid-column: 2 / 3;
  }
}

.icon-store,
.icon-truck {
  grid-column: 1 / 2;
  margin: 0.5rem 0.5rem 0.5rem $margin-side-mob;

  @include respond-to('xl'){
    margin-left: $margin-side-screen;
  }
}

.radio-truck,
.radio-store {
  grid-column: 2 / 3;
  display: inline-block;
  line-height: 3rem;
  margin-left: 1rem;

  @include respond-to('s'){
    margin-left: 0rem;
  }

  input[type=radio] {
    display: none;
  }

  label {
    position: relative;
    font-size: 1.6em;
    cursor: pointer;
    display: block;
    margin-left: 3rem;
  }

  label::before,
  label::after {
    position: absolute;
    display: block;
    content: '';
  }

  label::after {
    left: -2rem;
    top: 1rem;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 3px solid $color-primary;

    @include respond-to('l'){
      left: -2.5rem;
      top: 0.7rem;
    }
  }

  label::before {
    left: -1.7rem;
    top: 1.4rem;
    transition: opacity 0.2s linear;
    opacity: 0;
    width: 9px;
    height: 4px;
    border-left: 3px solid #585858;
    border-bottom: 3px solid #585858;
    transform: rotate(-45deg);

    @include respond-to('l'){
      left: -2.2rem;
      top: 1.2rem;
    }
  }

  input[type=radio]:checked + label::before {
    opacity: 1;
  }
}

.text-right {
  text-align: end;
  margin-right: 0.5rem;
}

.text-cost {
  font-size: 2.2em;
  margin-bottom: 0;
  color: #000000;
}

.text-moms {
  font-size: $text-sm;
  color: #9e9e9e;
}


