@import '_variables';

body {
  font-family: Helvetica, sans-serif, Arial;
  height: 100vh;
  font-size: 62.5%;
  font-weight: 200;
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.6em;
}

h2 + p {
  font-size: 1.8em;
  color: #535353;
}

h3 {
  font-size: 2.2em;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 90% 10%;

  #main-content {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #FB6800;
    @include respond-to('medium'){
      grid-column: 1 / 2;
    }
  }

  #number-tablet {
    display: none;
    @include respond-to('medium'){
      display: block;
      grid-column: 2 / 3;
      grid-row: 1;
      background: #C55500;
      color: #ffffff;
    }
  }

  #footer-back {
    grid-column: 1 / 2;
    grid-row: 2;
    background: #C55500;
  }

  #footer-forward {
    grid-column: 2 / 3;
    grid-row: 2;
    background: #703000;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  grid-template-rows: 10% 65% 25%;
  height: 100%;

  #item-btn {
    grid-column: 1 / 2;
    grid-row: 1;
    color: #ffffff;
  }
  #item-header {
    grid-column: 2 / 4;
    grid-row: 1;
    color: #ffffff;
  }
  #item-info {
    grid-column: 1 / 3;
    grid-row: 2;
    background: #ffffff;
    margin: 1rem .5rem .5rem 1rem;
  }
  #item-contact {
    grid-column: 1 / 3;
    grid-row: 3;
    background: #ffffff;
    margin: .5rem .5rem 1rem 1rem;
  }
  #item-order {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background: #ffffff;
    margin: 1rem 1rem 1rem .5rem;
  }
}

#tablet-wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 5rem 5rem 5rem 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  > p {
    background-color: $btn-numbers;
    width: 90%;
    height: 90%;
    margin: 0.5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2.8em;
  }

  > p:hover,
  > p:active {
    background-color: #b98c69;
  }

  .check, .delete {  
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    width: 90%;
  }

  .check {
    background-image: url('../images/check.png');
  }

  .delete {
    background-image: url('../images/delete.png');
  }
}

#item-info {
  .address {
    height: 5rem;
    background: #adadad;
  }

  .personal-number {
    height: 5rem;
    font-weight: 600;
    font-size: 2.8em;
  }
}

#item-contact {
  > div > div {
    display: inline-block;
  }

  .tel-icon {
    background-image: url('../images/pencil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
  }
}